@model GolfBag

<h1>Edit </h1>

<form method="post" action="/golfbags/update/@Model.Id">
	<label for="Clubs">Club:</label>
	<input type="text" id="Clubs" name="Clubs" value="@Model.Clubs" /><br /><br />

	<button type="submit">Update Golf Bag</button>
</form>